* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
  }
  
  .container {
    
    max-width: none; 
    margin: 0 auto; 
}

  header {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    /* width: 3176px; */
  }
  
  header h1 {
    font-size: 36px;
    color: #ff9933;
    
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
    transition: transform 0.3s ease;
  }
  
  nav ul li:hover {
    transform: translateY(-3px);
  }
  
  nav ul li a {
    color: #ff9933;
    text-decoration: none;
  }
  
  section {
    padding: 50px 0;
  }
  
  #hero {
    text-align: center;
  }
  
  #hero h2 {
    font-size: 42px;
    margin-bottom: 20px;
  }
  
  .feature {
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 1500px; 
    height: 1200px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ff9933;
  }
  
  .feature p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  
  footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-content p {
    margin: 0;
  }

  .graph-section {
    position: relative; 
  }
  
  .axis-label {
    fill: #fff; 
  }
  .side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 350px; 
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  


  .side-panel h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .side-panel p {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ff9933;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ff9933;
}

th {
    background-color: #ff9933;
    color: #333;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #0c0c0c;
}

tbody tr:hover {
    background-color: #ddd;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}

.graph-sections-container {
  display: flex;
  justify-content: space-between;
  margin: auto; 
  width: max-content;
}

.graph-section {
  margin-right: 90px; 
  display: flex; 
  justify-content: center; 
}

/* .graph-section:last-child {
  /* margin-right: 0; */
 */

.feature {
  background-color: #111;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 1000px;
  height: 1000px;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff9933;
}

.feature p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #ccc;
}

footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
  /* width: 3176px; */
  text-align: center;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-content p {
  text-align: center;
}




.slider-container {
  width: 100%; /* Set width to 100% to take full width of its container */
  margin-bottom: 20px; /* Adjust margin as needed */
  text-align: center; /* Center-align the slider */
}



/* 
.slider-container {
  width: 300px;
  margin-bottom: 20px; 
  display: inline-block;
} */

/* Positioning adjustments for the container */
div[style="position: absolute; bottom: 70px;"] {
  position: relative; /* Add relative positioning to the container */
}

/* Optional: Adjust position of the text labels */
div[style="position: absolute; bottom: 70px;"] p {
  margin-bottom: 5px; /* Added margin for spacing between slider value and label */
}

/* Styling for the slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

/* Hover effect for slider */
.slider:hover {
  opacity: 1;
}

/* Styling for slider thumb in webkit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff9933;
  cursor: pointer;
}

/* Styling for slider thumb in mozilla browsers */
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff9933;
  cursor: pointer;
}

.center-slider {
  text-align: center;
  
}

.center-slider input[type="range"] {
  width: 2880px; /* Adjust width as needed */
}


body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  color: #fff;
}



.dropdown-container {
  margin: 100px auto;
  text-align: center;
}

/* Styling the label */
.label {
  margin-bottom: 10px;
}

/* Styling the select element */
.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: #fff; /* white shade */
  color: #333; /* text color */
  border: none;
  border-radius: 5px;
  overflow: hidden;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  z-index: 2;
}

.custom-select::before {
  content: '\25bc';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  z-index: 1;
  color: #333; /* icon color */
}

/* Styling the options */
.custom-select select option {
  background-color: #fff; /* white shade */
  color: #333; /* text color */
  font-size: 16px;
  padding: 10px;
}

/* Hover effect */
.custom-select:hover::before {
  color: #ff5f6d; /* hover icon color */
}