<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Visualization Dashboard</title>
<link rel="stylesheet" href="../static/styles.css">
<link rel="icon" href="https://shiva-sankaran.github.io/assets/images/VP.png" type="image/x-icon">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="plot.js"></script>

</head>
<body>

<div class="container" style="max-width: max-content;">
  <header>
    <h1 style="font-size: 60px;">Socioeconomic and Health Indicators</h1>
    <nav>
      <ul>
        <li style="font-size: 32px;"><a href="/">Home</a></li>
        <li style="font-size: 32px;"><a href="team">Team</a></li>
      </ul>
    </nav>
  </header>

  <section id="hero">
    <div class="hero-content">
      <h2>Data Sources</h2>
    </div>
  </section>

  <section id="references">
    <ul>
      <li>https://ourworldindata.org/literacy</li>
      <li>https://www.who.int/data/gho/data/indicators/indicator-details/GHO/adult-mortality-rate-(probability-of-dying-between-15-and-60-years-per-1000-population)</li>
      <li>https://apps.who.int/gho/data/view.main.RoadTrafficDeathREG?lang=en</li>
      <li>https://ourworldindata.org/suicide#article-licence</li>
      <li>https://data.worldbank.org/indicator/SP.DYN.CDRT.IN</li>
      <li>https://data.worldbank.org/indicator/NY.GDP.MKTP.CD</li>
      <li>https://ourworldindata.org/population-growth</li>
    </ul>
  </section>

  <section id="hero">
    <div class="hero-content">
      <h2>Image Sources</h2>
    </div>
  </section>

  <section id="references">
    <ul>
      <li>https://www.reddit.com/r/mathmemes/comments/fpax9f/statistics_meme/</li>
      <li>https://www.businessinsider.com/never-gonna-give-you-up-rick-astley-remastered-4k-roll-2021-2</li>
    </ul>
  </section>

  

  <footer>
    <div class="footer-content">
      <p style="color: #ff9933;font-size: 20px;" >Mail id: svanajapandi@cs.stonybrook.edu</p>
      <!-- <p style="color: #ff9933;">Mail id: svanajapandi@cs.stonybrook.edu</p> -->
      <p style="color: #ff9933;font-size: 20px;">Mail id: adhoni@cs.stonybrook.edu</p>
    </div>
  </footer>
</div>

</body>
</html>
