<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Data Visualization Dashboard</title>
<link rel="stylesheet" href="../static/styles.css">
<link rel="icon" href="https://shiva-sankaran.github.io/assets/images/VP.png" type="image/x-icon">
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="plot.js"></script>

</head>
<body>

<div class="container" style="max-width: max-content;">
  <header>
    <h1 style="font-size: 60px;">Socioeconomic and Health Indicators</h1>
    <nav>
      <ul>
        <li style="font-size: 32px;"><a href="/">Home</a></li>
        <li style="font-size: 32px;"><a href="references">References</a></li>
        
      </ul>
    </nav>
  </header>

  <section id="hero">
    <div class="hero-content">
      <h2 style="font-size: 32px;">Team Information</h2>
    </div>
    <div class="team-info-container">
      <div class="team-member">
        <h3 style="font-size: 24px;">Group: 100</h3>
    <br>

        <ul style="font-size: 20px;">
          <li><strong>Name:</strong> Ambalika Dhoni</li>
          <li><strong>ID:</strong> 115361577</li>
          <li><strong>Email:</strong> adhoni@cs.stonybrook.edu</li>
        </ul>
      </div>
      <br>
      <div class="team-member">
        <ul style="font-size: 20px;">
          <li><strong>Name:</strong> Shivasankaran Vanaja Pandi</li>
          <li><strong>ID:</strong> 115939387</li>
          <li><strong>Email:</strong> svanajapandi@cs.stonybrook.edu</li>
        </ul>
      </div>
    </div>
  </section>
  
  
  

  <footer>
    <div class="footer-content">
      <p style="color: #ff9933;font-size: 20px;" >Mail id: svanajapandi@cs.stonybrook.edu</p>
      <p style="color: #ff9933;font-size: 20px;">Mail id: adhoni@cs.stonybrook.edu</p>
    </div>
  </footer>
</div>

</body>
</html>
